# Telegram Bot Configuration
# Get your bot token from @BotFather on Telegram
BOT_TOKEN=8080815257:AAG8t08s7c397k5uBi8nQbaHuvh1Aq3l7Zw

# Instagram Credentials (Optional but recommended)
# These help avoid rate limiting and access private content
INSTAGRAM_USERNAME=3d_printing_tom
INSTAGRAM_PASSWORD=jogpyq-5sixcu-Vetcit

# Download Settings (Optional)
DOWNLOAD_PATH=./downloads
